<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/index.css" />
  <script src="https://kit.fontawesome.com/768822f290.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="logo">Logo</div>
    <div>
      <select name="" id="">
        <option value="">Category</option>
        <option value="">Keyword</option>
        <option value="">Author</option>
        <option value="">Title</option>
      </select>
      <form action="./index.html" method="POST">
        <div>
          <input type="text" value="search">
          <!-- <button><i class="fas fa-search"></i></button> -->
          <input type="submit" value="Search" class="btn btn-default">
        </div>
      </form>
    </div>
  </header>

  <section class="section-hero">
    <div class="filter">
      <h2>Filter</h2>
      <div>
        <span>Option1</span>
        <input type="checkbox" />
      </div>
      <div>
        <span>Option1</span>
        <input type="checkbox" />
      </div>
      <div>
        <span>Option1</span>
        <input type="checkbox" />
      </div>
      <div>
        <span>Option1</span>
        <input type="checkbox" />

      </div>
    </div>
  </section>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Number</th>
          <th>Author</th>
          <th>Year</th>
          <th>Reference</th>
          <th>Stars</th>
        </tr>
      </thead>
      <tbody>
        {{ each datas }}
        <tr>
          <td>{{ $value.Number }}</td>
          <td>{{ $value.Author }}</td>
          <td>{{ $value.Year }}</td>
          <td>{{ $value.Reference }}</td>
          <td>{{ $value.Stars }}</td>
        </tr>
        {{ /each }}

      </tbody>
    </table>
  </div>
</body>

</html>