<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css" />
    <script
      src="https://kit.fontawesome.com/768822f290.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header></header>

    <section class="section-hero">
      <form action="/search" method="GET"></form>
      <div>
        <input type="text" name="keyword" required />
        <button id="btnsearch"><i class="fas fa-search"></i></button>
        <button id="upload">Push data</button>
      </div>
    </section>
    <script src="client.js"></script>
  </body>
</html>
